<!-- base_page.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %}</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Quicksand:wght@400;500&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <div class="overlay"></div>
  <header>
    {% block header %}
      <section id="top">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-4">
                      <div class="news">
                          <div class="slick-text">Hello teacher</div>
                          <div class="slick-text">hope you like it</div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section id="bottom">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-1 d-xl-none">
                      <div class="navbar-collapse-button" id="btn-open-navbar">
                          <i class="fa-solid fa-bars"></i>
                      </div>
                  </div>
                  <div class="col-xl-2 col-lg-5 col-md-6 col-sm-6 col-8">
                      <div class="logo">
                        <a href="/">
                          <img src="https://cdn.discordapp.com/attachments/1069432148186112081/1080464935433277440/logo.png" alt="">
                        </a>
                      </div>
                  </div>
                  <div class="col-xl-6 d-none d-xl-block">
                      <div class="search-box">
                          <input type="text" placeholder="Search for items...">
                          <img src="/static/img/search.png" alt="">
                      </div>
                  </div>
                  {% if not current_user.is_authenticated %}
                  <div class="col-xl-4 col-lg-6 col-md-5 col-sm-5 col-3">
                    <div class="actions">
                      <div class="action acc-action hide-action">
                        <div style="font-weight: bold;">
                          <a class="text" href="/login">Login</a>
                        </div>
                        <div class="text">
                          <p> or </p>
                        </div>
                        <div style="font-weight: bold;">
                          <a class="text" href="/register">Register now!</a>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}
                {% if current_user.is_authenticated %}
                  <div class="col-xl-4 col-lg-6 col-md-5 col-sm-5 col-3">
                      <div class="actions">
                          <div class="action cart-action">
                              <div class="icon">
                                  <img src="/static/img/icon-heart.svg" alt="">
                                  <span>{{ data['wishlist_len'] }}</span>
                              </div>
                              <div class="text">
                                <p>Wishlist</p>
                              </div>
                              <div class="cart">
                                {% if data['wishlist_len'] > 0 %}
                                <ul>
                                    {% for item in data['wishlist_items'] %}
                                        <li>
                                          <a href="/product/{{ item.product.id }}">
                                            <img src="{{ item.product.product_pictures[0].image_url }}" alt="">
                                            <div class="description">
                                                <div class="name">{{ item.product.name }}</div>
                                                <div class="price">
                                                    <span class="quantity">{{ item.quantity }}</span>
                                                </div>
                                            </div>
                                          </a>
                                            <a href="/delete_wishlist/{{ item.product.id }}">
                                            <i class="fa-solid fa-xmark"></i>
                                          </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                              </div>
                          </div>
                          <div class="action cart-action">
                              <div class="icon">
                                <a href="/cart">
                                  <img src="/static/img/icon-cart.svg" alt="">
                                </a>
                                    <a href="/cart"><span>{{ data['cart_len'] }}</span></a>
                              </div>
                              <div class="text">
                                <a href="/cart"><p>Cart</p></a>
                              </div>
                              <div class="cart">
                                {% if data['cart_len'] > 0 %}
                                <ul>
                                    {% for item in data['cart_items'] %}
                                        <li>
                                          <a href="/product/{{ item.product.id }}">
                                            <img src="{{ item.product.product_pictures[0].image_url }}" alt="product {{ item.product.id }}">
                                            <div class="description">
                                                <div class="name">{{ item.product.name }}</div>
                                                <div class="price">
                                                    <span class="quantity">{{ item.quantity }}</span>
                                                    x <span class="amount">{{ item.unit_value }}</span>
                                                </div>
                                            </div>
                                          </a>
                                            <a href="/delete_cart/{{ item.product.id }}">
                                              <i class="fa-solid fa-xmark"></i>
                                          </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                  <div class="cart-footer">
                                      <div class="total">
                                          <p class="text">Total</p>
                                          <p class="price">$ {{ data['cart_total_value'] }}</p>
                                      </div>
                                      <div class="buttons">
                                        <a href="/cart">
                                          <button class="btn-cart" type="button">View cart</button>
                                        </a>
                                        <a href="/checkout">
                                          <button class="btn-checkout" type="button" href="/checkout">Checkout</button>
                                        </a>
                                        </div>
                                  </div>
                              </div>
                          </div>
                          <div class="action acc-action hide-action">
                              <div class="icon">
                                  <img src="/static/img/icon-user.svg" alt="">
                              </div>
                              <div class="text">
                                  <p>Account</p>
                              </div>
                              <div class="account-dropdown">
                                  <ul>
                                      <li>
                                        <a href="/account">
                                          <i class="fa-regular fa-user"></i> My Account
                                        </a>
                                      </li>
                                      <li>
                                        <a href="/logout">
                                          <i class="fa-solid fa-arrow-right-from-bracket"></i> Sign out
                                        </a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
                {% endif %}
              </div>
          </div>
      </section>
      <section id="nav">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-xl-10">
                      <div class="content-wrapper">
                          <div class="deals hide-deals">
                              <img src="/static/img/icon-hot-white.svg" alt=""> Hot Deals
                          </div>
                          <nav>
                              <ul class="navigation">
                                  <li class="nav-item"><a href="/">Home</a></li>
                                  <li class="nav-item"><a href="/about">About</a></li>
                                  <li class="nav-item"><a href="/shop">Shop</a></li>
                                  {% if current_user.role_id != 2 and current_user.is_authenticated %}
                                  <li class="nav-item"><a href="/sell">Sell</a></li>
                                  {% endif %}
                              </ul>
                          </nav>
                      </div>
                  </div>
                  <div class="col-xl-2">
                      <div class="contact">
                          <div class="content-wrapper">
                              <img src="/static/img/icon-headphone-white.svg" alt="">
                              <div class="text">
                                  <span>1900 - 888</span>
                                  <span>24/7 Support Center</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      {% endblock %}
  </header>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-warning" role="alert">
      <ul class="flashes">
        {% for message in messages %}
          <li style="text-align: center;">{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    {% block footer %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 first">
          <div class="logo">
            <a href=""><img src="https://cdn.discordapp.com/attachments/1069432148186112081/1080464935433277440/logo.png" alt=""></a>
            <p>Lorem ipsum ante mi, enim.</p>
          </div>
          <ul class="contact-info hue-rotate">
            <li><img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/icon-location.svg" alt="">
              <strong>Address: </strong>
              <span>5171 Lorem ipsum aliquam fames, nec. Portugal</span>
            </li>
            <li>
              <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/icon-contact.svg" alt="">
              <strong>Call Us:</strong>
              <span>(+351) - 308-804-123</span>
            </li>
            <li>
              <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/icon-email-2.svg" alt="">
              <strong>Email:</strong>
              <span>lorem@ipsum.com</span>
            </li>
            <li>
              <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/icon-clock.svg" alt="">
              <strong>Hours:</strong>
              <span>10:00 - 18:00, Mon - Sat</span>
            </li>
          </ul>
        </div>

        <div class="col-lg-2 link">
          <h4>Company</h4>
          <ul class="footer-list mb-sm-5 mb-md-0">
            <li>About Us</li>
            <li>Delivery Information</li>
            <li>Privacy Policy</li>
            <li>Terms &amp; Conditions</li>
            <li>Contact Us</a></li>
            <li>Support Center</li>
            <li>Careers</li>
          </ul>
        </div>

        <div class="col-lg-2 link">
          <h4>Account</h4>
          <ul class="footer-list">
            <li><a href="#">Sign In</a></li>
            <li><a href="#">View Cart</a></li>
            <li>My Wishlist</li>
            <li>Track My Order</li>
            <li>Help Ticket</li>
            <li>Shipping Details</li>
            <li>Compare products</li>
          </ul>
        </div>
        <div class="col-lg-2 link">
          <h4>Corporate</h4>
          <ul class="footer-list">
            <li><a href="/register">Become a Supplier</a></li>
            <li>Affiliate Program</li>
            <li>Business</li>
            <li>Careers</li>
            <li>Our Suppliers</li>
            <li>Accessibility</li>
            <li>Promotions</li>
          </ul>
        </div>
        <div class="col-lg-2 link">
          <h4>Popular</h4>
          <ul class="footer-list">
            <li><a href="#">SSD</a></li>
            <li><a href="#">Graphics Card</a></li>
            <li><a href="#">Powersupply</a></li>
            <li><a href="#">WaterCoolers</a></li>
            <li><a href="#">Anything with led</a></li>
            <li><a href="#">Mouses</a></li>
            <li><a href="#">Keyboards</a></li>
          </ul>
        </div>
        <div class="col-lg-2 info">
          <h4 class="widget-title">Install App</h4>
          <p class="p1">From App Store or Google Play</p>
          <div class="app">
            <a href=""><img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/app-store.jpg" alt=""></a>
            <a href=""><img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/google-play.jpg" alt=""></a>
          </div>
          <p class="p2">Secured Payment Gateways</p>
          <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/payment-method.png" alt="">
        </div>
      </div>
      {% endblock %}
  </footer>
  <div class="footer-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 left">
        </div>
        <div class="col-lg-4 middle">
          <div class="phone d-flex">
            <div class="left d-flex"><img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/phone-call.svg"
                alt="">
              <p>1900 - 6666<span>Working 8:00 - 22:00</span></p>
            </div>
            <div class="right d-flex"><img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/phone-call.svg"
                alt="">
              <p>1900 - 8888<span>24/7 Support Center</span></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 right">
          <div class="social-media">
            <h6>Follow Us</h6>
            <a href=""><img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/icon-facebook-white.svg" alt=""></a>
            <a href=""><img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/icon-twitter-white.svg" alt=""></a>
            <a href=""><img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/icon-instagram-white.svg" alt=""></a>
            <a href=""><img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/icon-pinterest-white.svg" alt=""></a>
            <a href=""><img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/icon-youtube-white.svg" alt=""></a>
          </div>
          <p>Up to 15% discount on your first subscribe</p>
        </div>
      </div>
    </div>
  </div>

</div>

  <div class="phoneheader">
    <div class="container-fluid">
      <div class="row">
        <div class="col-2">

          <i class="fa-solid fa-bars"></i>

        </div>
        <div class="col-7">

          <img src="https://cdn.discordapp.com/attachments/1069432148186112081/1080464935433277440/logo.png" alt="">

        </div>
        <div class="col-3">

          <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/icon-cart.svg" alt="">
          <a href="/cart">Cart</a>
          <img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/icon-user.svg" alt="">
          <a href="/account">Account</a>

        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="/static/js/main.js"></script>
    {% block scripts %}{% endblock %}
</html>