{% extends 'base_page.html' %}

{% block title %}checkout{% endblock %}

{% block content %}
    <style>
        .container {
          display: flex;
          width: 60%;
          justify-content: space-between;
        }
        input, button {
          width: 100%;
          padding: 12px 20px;
          margin: 8px;
          display: inline-block;
          border: 1px solid #ccc;
          box-sizing: border-box;
        }
        button {
          background-color: #4CAF50;
          color: white;
          border: none;
          cursor: pointer;
        }
        button:hover {
          opacity: 0.8;
        }
        .product {
          display: flex;
          justify-content: space-between;
          margin-bottom: 8px;
        }
      </style>
      <form action="/checkout" method="post">
  <div class="container" style="margin: 50px">
    <div style="margin: 0 200px;">
      <h1>Put your address</h1>
      <label class="form-control" for="address">Complete Address:</label>
      <input type="address" id="address" name="address" required>
      <label class="form-control" for="city">City:</label>
      <input type="city" id="city" name="city" required>
      <label class="form-control" for="state">State:</label>
      <input type="state" id="state" name="state" required>
      <label class="form-control" for="country">Country:</label>
      <input type="country" id="country" name="country" required>
    </div>
    <div>
      <h1>Products</h1>
      <div id="products"></div>
      <div id="total_value"></div>
      <p>Free shipping!</p>
      <button id="checkout-btn" onclick="checkout()">Checkout</button>
    </div>
  </div>
</form>
  <script>
    const products = [
        //{% for product in products %}
      { name: '{{ product.product.name }}', price: "{{ product.unit_value }}", quantity: {{ product.quantity }} },
        //{% endfor %}

    ];

    const productsDiv = document.getElementById('products')
    const totalDiv = document.getElementById('total_value');
    let totalPrice = 0;

    products.forEach(product => {
      const productDiv = document.createElement('div');
      productDiv.className = 'product';
      productDiv.innerHTML = `
        <span>${product.name}</span>
        <span>${product.quantity}x</span>
        <span>$${product.price}</span>
      `;
      productsDiv.appendChild(productDiv);
      totalPrice += product.price;
    });

    totalDiv.className = 'price'
    totalDiv.innerHTML = `<span>Total $${parseFloat(totalPrice).toFixed(2)}</span>`

    function checkout() {
      if (document.getElementById('address').value.trim() === '' ||
          document.getElementById('city').value.trim() === '' ||
          document.getElementById('state').value.trim() === '' ||
          document.getElementById('country').value.trim() === '') {
        alert('Please fill in all fields of the address.');
      }
    }
  </script>
{% endblock %}