{% extends 'base_page.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="product-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9">
                <div class="product-detail">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="image zoom">
                                <img src="{{ default_picture.image_url }}"
                                    alt="">
                            </div>
                            <div class="slider2">
                                {% for picture in pictures %}
                                <div class="image">
                                    <img src="{{ picture.image_url }}"
                                        alt="">
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="info">
                                {% if product_info.in_promotion %}
                                <span class="first-span">Sale Off</span>
                                {% endif %}
                                <h2 class="first-h2">{{ product.name }}</h2>
                                <div class="product-rate">
                                    <i class="fa-solid fa-star star"></i>
                                    <i class="fa-solid fa-star star"></i>
                                    <i class="fa-solid fa-star star"></i>
                                    <i class="fa-solid fa-star star"></i>
                                    <i class="fa-solid fa-star star"></i>
                                    <span>(0 Rewiews)</span>
                                </div>
                                {% if product_info.in_promotion %}
                                <div class="price">
                                    <span class="span1">${{ product_info.promotion_value }}</span>
                                    <span>
                                        <span class="save-price">{{ save_price }}% Off</span>
                                        <span class="old-price">${{ product_info.value }}</span>
                                    </span>
                                </div>
                                {% endif %}
                                {% if not product_info.in_promotion %}
                                <div class="price">
                                    <span class="span1">${{ product_info.value }}</span>
                                </div>
                                {% endif %}
                                <div class="about">
                                    <p>{{ product.description }}</p>
                                </div>
                                <div class="detail-extra">
                                    <a href="/add_cart/{{ product.id }}">
                                    <div class="add-cart">
                                        <button type="submit"><i class="fa-solid fa-cart-shopping"></i>Add To
                                            Cart</button>
                                    </div>
                                    </a>
                                    <div class="add-cart">  
                                    <a href="/add_wishlist/{{ product.id }}"><i class="fa-regular fa-heart"></i></a>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div id="tab-3" class="tab-content">
                        <div class="vendor-logo d-flex ">
                            <img src="/static/img/shops.png" alt="">
                            <div class="vendor-name">
                                <h6>
                                    <a>NOME DO VENDEDOR</a>
                                </h6>
                                <div class="product-rate text-end">
                                    <div class="product-rate">
                                        <i class="fa-solid fa-star star"></i>
                                        <i class="fa-solid fa-star star"></i>
                                        <i class="fa-solid fa-star star"></i>
                                        <i class="fa-solid fa-star star"></i>
                                        <i class="fa-solid fa-star star"></i>
                                        <span class="font-small ml-5 text-muted"> (0 reviews)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="contact-info mb-50">
                            <li><img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/icon-location.svg"
                                    alt=""><strong>Address: </strong> <span>5171 W Campbell Ave undefined Kent, Utah
                                    53127 United States</span></li>
                            <li><img src="http://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/icon-contact.svg"
                                    alt=""><strong>Contact Seller:</strong><span>(+91) - 540-025-553</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="shop-banner">
        <div class="container-fluid">
            <div class="content">
                <h2 class="mb-20">
                    Get notified about future promotions for this product!
                </h2>
                <p class="mb-45">Start You'r Daily Shopping with <span class="brand">Raphael pc shop</span></p>
                <form action=""><input type="text" placeholder="Enter Your Email Address"><button>Subscribe</button>
                </form>
            </div>

            <img src="/static/img/banner-13.png" alt="">

        </div>
    </div>
</div>
<div class="features">
    <div class="container-fluid">
        <div class="row justify-content-between" style="filter: grayscale(100%);">
            <div class="col-lg-2">
                <div class="box">
                    <div class="left"><img
                            src="https://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/icon-1.svg" alt="">
                    </div>
                    <div class="right">
                        <h3>Best prices &amp; offers</h3>
                        <p>Orders $50 or more</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="box">
                    <div class="left"><img
                            src="https://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/icon-1.svg" alt="">
                    </div>
                    <div class="right">
                        <h3>Best prices &amp; offers</h3>
                        <p>Orders $50 or more</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="box">
                    <div class="left"><img
                            src="https://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/icon-1.svg" alt="">
                    </div>
                    <div class="right">
                        <h3>Best prices &amp; offers</h3>
                        <p>Orders $50 or more</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="box">
                    <div class="left"><img
                            src="https://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/icon-1.svg" alt="">
                    </div>
                    <div class="right">
                        <h3>Best prices &amp; offers</h3>
                        <p>Orders $50 or more</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="box">
                    <div class="left"><img
                            src="https://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/icon-1.svg" alt="">
                    </div>
                    <div class="right">
                        <h3>Best prices &amp; offers</h3>
                        <p>Orders $50 or more</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</section>

{% endblock %}